@font-stack: 'Roboto',Arial,sans-serif;
@primary-color: #EEE;
body {
  margin: 0;
  font: 100% @font-stack;
  background-color: @primary-color;
}
  
* {
  box-sizing: border-box;
}
h1 {
  font-size: 28px;
  font-weight: 400;
  margin: 0;
}
  
.generic-separator {
  border-bottom: 1px solid #e0e0e0;
}
a {
  background: transparent;
  outline: none;
}
.opacity-anim {
  opacity: 1;
  transition: opacity .1s ease-out;
}